
.input {
    width: 200px;
    height: 30px;
    border: 1px solid rgb(208, 71, 236);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
  }
  .button {
    background-color:  rgb(129, 31, 149);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  .label{
    font-weight: bold;
    color:  rgb(208, 71, 236);
    
  }
  